.idea/
.cache/
.envrc
/cmake-build-*
build
.clangd
# data/
# !salt_vs_hw_misses_package/data/
# salt_vs_hw_misses_package/data/*
# !salt_vs_hw_misses_package/data/pmu_i7-7700_result.csv
data.tar.zst
*.tar.zst
results/
results.old*/
artifact-results/
full-results/
/run*
/fix*

# Added by cargo

target
__pycache__/
*.py[cod]
# Cargo.lock
perf.data*
flamegraph.svg
*.sqlite
*.sqlite*
*.sqlite-journal
/*.db
*.db-journal
*.log
/*.png
result.txt
.codex
benchmarks/mlir-contractions/results.old*
some_notes.txt
salt-pact26-ae-v*.tar.gz
salt-pact26-v*.tar.gz
salt_vs_hw_misses_package/benchmarks/bin
benchmarks/matmul-t0-t2/og.py
ZENODO_DESCRIPTION.md
ZENODO_DESCRIPTION*.html
/gitlab-salt-release/
